---
title: "GitLab Code Contributor: Marcel Amirault"
author: Ray Paik
author_gitlab: rpaik
author_twitter: rspaik
categories: open source
image_title: '/images/blogimages/contributors-cover.png'
description: "Recent MVP Marcel Amirault shares why he started contributing to GitLab."
tags: community, collaboration, open source, contributors
ee_cta: false
postType: corporate
---

I'm excited to continue the [series of GitLab contributor blog posts](/blog/tags.html#contributors)
with [Marcel Amirault](https://gitlab.com/Ravlen), [the MVP for the 11.9 release](/community/mvp/).
Let's get to know more about him!

### Can you tell us where you live and share anything interesting about your area?

I'm originally from Halifax, in eastern Canada, but I now live in [Kagoshima, Japan](https://www.google.com/maps/place/Kagoshima,+Japan/@31.523208,130.2782569,10z/data=!3m1!4b1!4m5!3m4!1s0x353e615200e3c53d:0x9adcfdad5d5c5885!8m2!3d31.5968539!4d130.5571392) (and yes, I have seen wild tanuki!).
Kagoshima is famous for being right next to one of the world's most active volcanos, Sakurajima,
which regularly dusts the city in ash. You have to keep an eye on the wind before you decide
to put out your laundry, or else you'll have some ashy-grey clothes pretty quickly.
It's also known for inspiring some famous movies. Hometown hero Saigō Takamori and the
local Satsuma clan were the inspirations for "The Last Samurai," and Yakushima Island was
the inspiration for the forest in "Princess Mononoke."

![Picture of Sakurajima](/images/blogimages/Marcel-blogpost/kagoshima.png){: .shadow.small.center}
*<center><small>Sakurajima in the distance</small></center>*

### Can you tell us what you do professionally?

Originally, I worked in IT Support, peaking as a Network Technician at a telecom company
in eastern Canada. I loved the job, but I wanted to live abroad for a while before settling into my career.
I decided to teach English in Japan "for six months," but fell in love with the country and have
been here ever since. I currently teach English as a second language to Japanese students, and
have taught all ages and types of students over the years. I write, proofread, and teach curricula
for various types of students, ranging from people preparing for their first trip abroad, to seminars
in hospitals for medical professionals. From time to time I proofread documents brought to me,
such as applications to international programs, or scientific papers being prepared for submission for peer review.

![Marcel in the classroom](/images/blogimages/Marcel-blogpost/marcel-teaching.jpg){: .shadow.small.center}

### When did you first contribute to GitLab and why did you decide to contribute?

About a year ago, I started a Rails course to try to get back into the IT world, and needed to
choose a place to store my Git repo. A friend suggested GitLab, and I dove right in.
While reading the documentation, I sometimes found small mistakes that the English teacher
in me couldn't ignore, so I started submitting MRs for small things like typos or obvious grammar mistakes.
In fact, [my first MR](https://gitlab.com/gitlab-com/www-gitlab-com/merge_requests/11848) was to correct grammar.
From there, the MRs got a little bigger, and a little more involved, and it's something I enjoy doing when things are slow at work.

### What was the most difficult part of contributing for you in the beginning?

There was no significant hurdle to starting, because contributing to documentation was not
intimidating at all, and I never had to worry about complicated reviews.
When I first submitted a small change to the language in a section of the UI though, I suddenly
had a lot of reviews and suggestions, and started to realize how a small change could have a large impact.
Understanding the impact that one person could have on a major project was something I had to learn.
Thankfully, a lot of GitLab team members offered help and explained things for me, which I really appreciated.

### Which areas of GitLab have you contributed to most and how do you find issues that you want to work on?

Updating technical documentation was a natural fit for me. I enjoy learning, so I frequently
read the GitLab documentation, but my "English teacher eyes" can't ignore language that can be improved.
I take advantage of free time at work, and I'm fortunate to have free access to computers and
a flexible boss (as long as my lesson quality is maintained). As a result, I'm often able to fill
the gaps between lessons by working on documentation issues. When I'm struggling to stay
awake because my kids kept me up at night and I have a gap in my schedule, working on an
interesting bit of documentation wakes me up as much as a strong cup of coffee!
I usually find documentation that can be improved on my own as I read through, but I
sometimes search for [`Accepting Merge Requests` issues for Documentation](https://gitlab.com/gitlab-org/gitlab-ce/issues?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=Accepting%20merge%20requests&label_name[]=Documentation) if I need a new project to work on. Recently I have given myself "challenges,"
like "Find ALL examples of a certain grammar mistake project wide, and fix them" or
"Find ALL examples where CE and EE documentation have diverged accidentally, and realign them when possible."

### What do you enjoy doing when you're not working?

I like doing home improvements when I can, and really like outdoor carpentry like putting up
fences or wooden decks. I'm a big fan of hiking and camping, but it has been hard to get out
to camping places in the past few years as my kids are still young. We are hoping to bring them
on their second ever camping trip this spring/summer. Finally, my friends and I try to get together
about once every month or two for poker or board gaming. Some of my favorite games are
Settlers of Catan, Carcassonne, Puerto Rico, Pandemic, San Juan, and Guillotine.

![Marcel and his children](/images/blogimages/Marcel-blogpost/marcel-family.png){: .shadow.small.center}

### What advice do you have for others who may be interested in contributing to GitLab?

Don't be shy! If you are worried about your contribution, feel free to make your MR a [Work in Progress](https://docs.gitlab.com/ee/user/project/merge_requests/work_in_progress_merge_requests.html)
(document last updated by me! 😉), and ask for help. Everyone is super friendly and always willing to give advice!

### Interested in learning how you can contribute?

A good place to start is the [Contributing to GitLab page](/contributing/), where you can learn
how you can contribute to GitLab code, documentation, translation, and UX design.

If you have any questions, you are always welcome to reach me at rpaik@gitlab.com.

_Note: This post is part of [a series featuring people who contribute to GitLab](/blog/tags.html#contributors)._
